import 'dart:convert';
import 'package:http/http.dart' as http;

Future<void> fetchData() async {
  const String apiUrl = 'https://jsonplaceholder.typicode.com/posts/1';

  try {
    final response = await http.get(Uri.parse(apiUrl));

    if (response.statusCode == 200) {
      final data = json.decode(response.body);
      print('Title: ${data['title']}');
      print('Body: ${data['body']}');
    } else {
      print('Failed to load data. Status code: ${response.statusCode}');
    }
  } catch (e) {
    print('Error occurred: $e');
  }
}

void main() {
  fetchData();
}
